body {
  background-image: url(/img-lego/starWarsLegoBackground.jpg);
  background-size: 100%;
  position: relative;
  text-align: center;
  font-family:monospace;
}

img {
  height: 335px;
}
.navBar {
  text-align: center;
}
a {
  color: gold;
  text-decoration: none;
  padding: 10px;
}
.footer {
  background-color: black;
  text-align: center;
  color: rgb(242, 11, 242);
  margin-left: 300px;
  margin-right: 300px;
}
